ul,li{
	list-style:none;
	margin:0;
	padding:0;
}
b{
	font-weight: normal;
	cursor:pointer;
}
body{
	/*background-color:#f5f5f6;*/
}
.m-body{
	background:url(../images/footer.png)left bottom repeat-x;
	background-size:100% 150px;
	overflow:hidden;
}
.admin-content{
	border-top: 6px solid #89b5e9;
	border-radius: 6px;
	padding:50px;
	box-sizing:border-box
}
.am-icon-home{
	font-size:1.8rem;
}
.admin-sidebar-list{
	overflow-y: hidden;
}
.am-offcanvas{
	border:6px solid #89b5e9; 
	border-radius:6px;
}
header.admin-header{
	margin-bottom:20px;
	position: relative;
}
header.admin-header small{
	color:#4378b3;
	font-size:12px;
	position:absolute;
	top:-8px;
	left:15px;
}
header.admin-header small.sma1{
	font-size:14px;
	position:absolute;
	top:10px;
	left:15px;
}
header.admin-header small em{
	color:#999;
	font-size:12px;
	margin-left:6px;
	font-style:normal;
}
footer h3{
	color:#4378b3;
	font-size:14px;
	margin:0;
}
footer h3 a{
	color:#4378b3;
	margin:0 5px;
}
footer .am-padding-left{
	font-size:14px;
}
footer .am-padding-left .link{
	color:#4378b3;
}
footer .am-padding-left .link a{
	color:#4378b3;
	margin:3px;
	font-size:12px;
}
.am-table thead{
	background-color:#f1f4f6;
}
.am-table thead th{
	text-align: center;
	font-weight: normal;
	border-color:#f5f5f6;
	font-size:12px;
}
.am-table tbody td{
	text-align: center;
	border-color:#a7c5e2;
	font-size:12px;
}
.am-table tbody td p{
	position:relative;
	vertical-align:top;
	top:6px;
	margin:0;
}
.am-table tbody td .tz{
	position:relative;
	vertical-align:top;
	top:3px;
}
.am-table tbody td .zdy-inp{
	width:40px;
	height:28px;
}
.am-topbar-nav{
	position: relative;
	vertical-align:top;
	top:10px;
}
form .search1{
	float: left;
	margin-bottom:15px;
}
form .search1 input{
	width:100px;
	height:34px;
	background:#f5f5f6;
	border:1px solid #a7c5e2;
	font-size:14px;
	line-height:34px;
}
form .search1 span {
	float:left;
	line-height:32px;
	margin-right:12px;
	font-size:14px;
}
form .search2{
	float: left;
	margin-bottom:15px;
}
form .search2 span {
	float:left;
	line-height:32px;
	margin:0 12px;
	font-size:14px;
}
form .search2 .search-inp{
	float: left;
}
form .search2 .search-inp input{
	float: left;
	height:34px;
	margin-right:10px;
	width:100px;
	font-size:14px;
	line-height:34px;
}
form .search2 .search-inp button{
	height:34px;
	font-size:14px;
}
form .search2 .search-inp button i{
	margin-right:4px;
}
/*内容头像部分*/
.m-touxiang{
	height:130px;
	overflow: hidden;
	margin:0 15px 25px;
}
.m-touxiang .m-box{
	width:130px;
	height:130px;
	border-radius:50%;
	border:1px solid #4378b3;
	background-image:url(../images/touxiang.png);
	background-repeat: no-repeat;
	float: left;
}
.m-touxiang .m-jies{
	float: left;
	margin-left:35px;
	padding-top:35px;
	box-sizing:border-box;
}
.m-touxiang .m-jies h2{
	margin:0;
}
.m-touxiang .m-jies time{
	font-weight: normal;
}
.m-touxiang .m-jies span{
	color:#4378b3;
}
.m-touxiang .m-jies p{
	font-size:14px;
	color:#999;
	margin:0;
}
.menu-nav{
	padding:25px 40px;
	border:1px solid #a7c5e2;
	margin-bottom:30px;
}
.menu-nav li{
	height:50px;
	line-height:50px;
}
.menu-nav li span{
	width:33.333%;
	float: left;
	display: block;
	height:50px;
	color:#4378b3;
	padding-left:10%;
	box-sizing:border-box;
}
.menu-nav li span i{
	font-style:normal;
}
.menu-nav li span img{
	width:22px;
	margin-right:6px;
}
.menu-nav li span img.im2{
	width:24px;
}
.menu-nav li span img.im4{
	width:18px;
}
.menu-nav li span img.im5{
	width:20px;
}
.admin-content-left{
	float: left;
}
/*内容右边*/
.admin-content-right{
	float: right;
	width:200px;
	border:1px solid #a7c5e2;
}
.admin-content-right ul{
	margin:0;
	padding:0;
}
.admin-content-right ul li{
	height:180px;
	width:200px;
}
.admin-content-right ul li .content-top{
	height: 30px;
	width: 198px;
	line-height:30px;
	background-color: #f2f2f2;
	text-align: center;
}
.admin-content-right ul li .content-mod{
	height:150px;
	padding-top:140px;
	box-sizing:border-box;
	text-align: center;
	background-image: url(../images/d-icon1.png);
	background-repeat: no-repeat;
	background-position:center 20px;
}
.admin-content-right ul li .content-mod1{
	background-image: url(../images/d-icon2.png);
}
.admin-content-right ul li .content-mod2{
	background-image: url(../images/d-icon3.png);
}
.admin-content-right ul li .content-mod p{
	color: #e55f5b;
	font-size:12px;
}
.admin-content-right ul li .content-mod p em{
	font-style:normal;
}
.admin-content{
	overflow-y:scroll;
}
/*登录注册页面*/
.am-topbar-brand .logo img{
	border-right:1px solid #225592;
	padding-right:10px;
}
.am-topbar-brand h2{
	position: absolute;
	top:5px;
	left:190px;
	margin:0;
	color:#225592;
	font-weight: normal;
	font-size:18px;
}
.am-topbar-brand h2 em{
	color:#999;
	font-size:12px;
	margin-left:6px;
	font-style:normal;
}
.language-nav{
	float: right;
	height:70px;
	margin-right:34px;
}
.language-nav li{
	float: left;
	padding:0 6px;
	border-right:1px solid #1d5494;
	height:12px;
	line-height:12px;
	margin-top:30px;
}
.language-nav li:last-of-type{
	border:0;
}
.language-nav li a{
	color:#1d5494; 
	font-size:12px;
}
.login-cont{
	background:url(../images/beijing.jpg);
	background-repeat: no-repeat;
	background-position:300px 60px;
	position: relative;
}
.login-cont .login-box{
	width:300px;
	background-color:#fff;
	position: absolute;
	top:50px;
	right:110px;
	border:1px solid #94acc7;
}
.login-cont .login-box .login-box-top{
	height:50px;
	line-height:50px;
	background-color: #f9fbfe;
	border-bottom:1px solid #94acc7;
}
.login-cont .login-box .login-box-top span{
	width:34%;
	display: block;
	float: left;
	text-align: center;
	margin:0 8%;
	color:#999;
	cursor:pointer;
}
.login-cont .login-box .login-box-top span:hover{
	color:#333;
}
.login-cont .login-box .login-box-top span.m-cuur{
	background-image:url(../images/border.jpg);
	background-repeat:repeat-x;
	background-position:left bottom;
	color:#333;
}
.login-cont .login-box .login-cont-inp{
	padding:40px 25px 20px;
}
.login-cont .login-box .login-cont-inp li.l1{
	border:1px solid #95adc5;
	height:36px;
	background-image:url(../images/icon-2.png);
	background-repeat: no-repeat;
	background-position:8px center;
	padding-left:36px;
	box-sizing:border-box;
	margin-bottom:12px;
}
.login-cont .login-box .login-cont-inp li.l2{
	border:1px solid #95adc5;
	height:36px;
	background-image:url(../images/icon-3.png);
	background-repeat: no-repeat;
	background-position:8px center;
	padding-left:36px;
	box-sizing:border-box;
}
.login-cont .login-box .login-cont-inp li input{
	height:34px;
	border:0;
	outline: none;
	width:210px;
	padding:0 8px;
	font-size:14px;
	box-sizing:border-box;
}
.login-cont .login-box .login-cont-inp li.l3{
	height:36px;
	line-height:36px;
	margin-top:5px;
}
.login-cont .login-box .login-cont-inp li.l3 input{
	height:16px;
	width:16px;
	float: left;
	position:relative;
	vertical-align:top;
	top:6px;
	margin-right:8px;
}
.login-cont .login-box .login-cont-inp li.l3 b{
	float: left;
	font-size:14px;
}
.login-cont .login-box .login-cont-inp li.l4 button{
	width:100%;
	margin-top:15px;
}
.login-cont .login-box .login-cont-inp li.l5{
	text-align: center;
	margin-top:30px;
}
.login-cont .login-box .login-cont-inp li.l5 a{
	font-size:14px;
	border-right:1px solid #0e90d2;
	padding:0 4px;
}
.login-cont .login-box .login-cont-inp li.l5 a:last-of-type{
	border:0;
}
/*快速注册弹框*/
.m-mark{
	position: fixed;
	top:70px;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.6);
}
.m-mark .m-zhuce{
	width:700px;
	position: relative;
	top:0;
	margin-top:40px;
	left:50%;
	margin-left:-350px;
	background-color:#fff;
}
.m-mark .m-zhuce .zhuce-top{
	height:50px;
	background-color:#467fbf;
	background-image:url(../images/icon-1.png);
	background-repeat: no-repeat;
	background-position:center;
	position: relative;
}
.m-mark .m-zhuce .zhuce-top .am-icon-times{
	font-size:24px;
	color:#fff;
	position: absolute;
	top:5px;
	right:20px;
	cursor: pointer;
}
.m-mark .m-zhuce .zhuce-inp{
	padding:40px 140px;
}
.m-mark .m-zhuce .zhuce-inp li.lo{
	height:22px;
	line-height:22px;
	padding-left:108px;
	box-sizing:border-box;
	text-align: left;
}
.m-mark .m-zhuce .zhuce-inp li.lo p{
	font-size:12px;
	color:#e55f5b;
	margin:0;
}
.m-mark .m-zhuce .zhuce-inp li.lj{
	height:38px;
	line-height:38px;
}
.m-mark .m-zhuce .zhuce-inp li.lj span{
	width:100px;
	display: block;
	float: left;
	text-align: right;
}
.m-mark .m-zhuce .zhuce-inp li.lj input{
	height:38px;
	outline: none;
	float: left;
	width:320px;
	padding:0 8px;
	box-sizing:border-box;
}
.m-mark .m-zhuce .zhuce-inp li.lj p{
	font-size:12px;
	color:#999;
	float: left;
	margin:0 0 0 5px;
}
.m-mark .m-zhuce .zhuce-inp li.lj .lj-yanz{
	height:38px;
	float: left;
}
.m-mark .m-zhuce .zhuce-inp li.lj .lj-yanz b{
	border:1px solid #ddd;
	overflow: hidden;
	display: block;
	float: left;
	margin:0 5px;
}
.m-mark .m-zhuce .zhuce-inp li.lj .lj-yanz img{
	width:88px;
	height:36px;
	float: left;
}
.m-mark .m-zhuce .zhuce-inp li.lj .lj-yanz a{
	font-size:14px;
	float: left;
}
.m-mark .m-zhuce .zhuce-inp li.lj p label{
	font-weight: normal;
	color: #5288c3;
	margin:0;
}
.m-mark .m-zhuce .zhuce-inp li.lg-btn{
	text-align: center;
	margin-top:30px;
}
.m-mark .m-zhuce .zhuce-inp li.lg-btn button{
	width:200px;
}
.m-mark .m-zhuce .zhuce-inp li.lj input.lj-inp{
	width:150px;
}